<header class="site-header">
	<div class="header-container">
		<img src="/img/logo.svg" alt="Tristan Hampton's logo. It's a cat in a coffee cup.">
		<div class="hamburger">
			<div></div>
		</div>
		<nav class="site-nav">
			<ul>
				<li><a href="https://www.tristanhampton.ca">Home</a></li>
				<li><a href="https://www.tristanhampton.ca#specialties">Specialties</a></li>
				<li><a href="https://www.tristanhampton.ca#projects">Projects</a></li>
				<li><a href="https://www.tristanhampton.ca#contact">Contact</a></li>
				<li><a href="https://github.com/tristanhampton">GitHub</a></li>
			</ul>
		</nav>
	</div>
</header>