<header class="site__header">
	<div class="container">

		<a href="/" class="header__logo" aria-label="return to home page">
			{% include 'src/assets/img/logos/logo.svg' %}
		</a>

		<button aria-label="open menu" class="header__menu-toggle"></button>

		<nav class="site__nav">
			<button class="close" aria-label="close menu"></button>
			<ul>
				<li><a href="#specialties">Specialties</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="https://github.com/tristanhampton">GitHub</a></li>
			</ul>
		</nav>
	</div>
</header>