{% include 'head.njk'%}
{% include 'header.njk' %}

<section class="page__header">
	<div class="container">
		<h1>JS Available Books</h1>
	</div>
</section>

<main class="page__main main--available-books">
	<div class="container">
		
	</div>
</main>

<script src="/js/available-books.js"></script>
{% include 'footer.njk' %}