/* =============================================
   Display
   ============================================= */


h2 {
  margin-bottom: 1.2rem;
}

section,
main > div {
  padding: 2.4rem 5%;
  @include min-bp(medium) {
    padding: 2.4rem 0;
  }
}
.flex {
  @include min-bp(small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p,
    img {
      width: 48%;
    }
  }
}