/* Colors
 *----------------------------------*/
 $primary-blue						: #88E1F2;
 $primary-yellow					: #FADBA5;
 $primary-pink						: #FAA4A4;
 $primary-green						: #98FF98;

 $text-gray							: #707070;
 $dark-gray							: #979797;


/* Fonts
 *----------------------------------*/
 @font-face {
	font-family: Forque;
	src: url('../fonts/Forque.ttf');
 }

 @font-face {
	font-family: Open Sans Light;
	src: url('../fonts/OpenSansCondensed-Light.ttf');
 }

 @mixin ff-open-sans-light {
 	font-family: 'Open Sans Light', 'Helvetica', sans-serif;
 	font-weight: 400;
 }

 @mixin ff-forque {
 	font-family: 'Forque', 'Helvetica', sans-serif;
 	font-weight: 400;
 }

 $text-regular						: 1.8rem;
 $text-regular-break				: 1.6rem;

 $h1								: 6.4rem;
 $h1-break							: 4.0rem;

 $h2								: 4.2rem;
 $h2-break							: 4.0rem;

 $h3								: 3.2rem;
 $h3-break							: 4.0rem;

 $h4								: 2.6rem;
 $h4-break							: 4.0rem;

 $h5								: 2.2rem;
 $h5-break							: 4.0rem;

 $h6								: 1.8rem;
 $h6-break							: 4.0rem;



 