@import 'global/normalize.css';
/* Colors
 *----------------------------------*/
/* Fonts
 *----------------------------------*/
@font-face {
  font-family: Forque;
  src: url("../fonts/Forque.ttf");
}
@font-face {
  font-family: Open Sans Light;
  src: url("../fonts/OpenSansCondensed-Light.ttf");
}
/* Resets/Fixes
 *----------------------------------*/
/* Psuedo Elements
 *----------------------------------*/
/* Other
 *----------------------------------*/
/* Objects
 *----------------------------------*/
.splash-container {
  overflow-x: hidden;
  background-color: #88E1F2;
}

.splash {
  position: relative;
}
.splash p {
  z-index: 8;
  max-width: unset;
}

.cloud {
  position: absolute;
  width: 200px;
  box-sizing: unset;
  margin-left: 2500px;
}

.extra {
  display: hidden;
}
@media (min-width: 800px) {
  .extra {
    display: block;
  }
}

.dark {
  z-index: 5;
}

.light {
  z-index: 7;
}

.speed-1 {
  animation: moveClouds 27s linear infinite;
}
@media (min-width: 1300px) {
  .speed-1 {
    animation: moveClouds 40s linear infinite;
  }
}

.speed-2 {
  animation: moveClouds 23s linear infinite;
}
@media (min-width: 1300px) {
  .speed-2 {
    animation: moveClouds 37s linear infinite;
  }
}

.speed-3 {
  animation: moveClouds 20s linear infinite;
}
@media (min-width: 1300px) {
  .speed-3 {
    animation: moveClouds 32s linear infinite;
  }
}

.delay-1 {
  animation-delay: -7s;
}

.delay-2 {
  animation-delay: -13s;
}

@keyframes moveClouds {
  0% {
    margin-left: 300px;
  }
  100% {
    margin-left: -700px;
  }
}
@media (min-width: 500px) {
  @keyframes moveClouds {
    0% {
      margin-left: 600px;
    }
    100% {
      margin-left: -1200px;
    }
  }
}
@media (min-width: 800px) {
  @keyframes moveClouds {
    0% {
      margin-left: 1100px;
    }
    100% {
      margin-left: -1100px;
    }
  }
}
@media (min-width: 1100px) {
  @keyframes moveClouds {
    0% {
      margin-left: 1100px;
    }
    100% {
      margin-left: -1300px;
    }
  }
}
@media (min-width: 1300px) {
  @keyframes moveClouds {
    0% {
      margin-left: 1500px;
    }
    100% {
      margin-left: -1500px;
    }
  }
}
@media (min-width: 1800px) {
  @keyframes moveClouds {
    0% {
      margin-left: 2000px;
    }
    100% {
      margin-left: -12;
    }
  }
}
.height-1 {
  top: 225px;
}
@media (min-width: 600px) {
  .height-1 {
    top: 200px;
  }
}

.height-2 {
  top: 250px;
}

.height-3 {
  top: 300px;
}

.height-4 {
  top: 350px;
}

.width-1 {
  padding-right: 300px;
}

.width-2 {
  padding-right: 150px;
}

.width-3 {
  padding-left: 150px;
}

.width-4 {
  padding-left: 300px;
}

.splash {
  width: 100%;
  padding: 2.4rem 5%;
  text-align: center;
  height: 45rem;
}
.splash p {
  font-size: 4.2rem;
  line-height: 4.8rem;
  margin-bottom: 1.2rem;
}
.splash h1 {
  margin-bottom: 1.2rem;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans Light", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}
@media (max-width: 780px) {
  body {
    font-size: 1.6rem;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.page-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

a {
  transition: all 0.3s;
  color: #979797;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:active, a:hover, a:focus {
  color: #979797;
}

/* Header Styles
 *----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.35;
  font-family: "Forque", "Helvetica", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 6.4rem;
}
@media (max-width: 780px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4.2rem;
}
@media (max-width: 780px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 3.2rem;
}
@media (max-width: 780px) {
  h3 {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 2.6rem;
}
@media (max-width: 780px) {
  h4 {
    font-size: 2.2rem;
  }
}

h5 {
  font-size: 2.2rem;
}
@media (max-width: 780px) {
  h5 {
    font-size: 2rem;
  }
}

h6 {
  font-size: 1.8rem;
}
@media (max-width: 780px) {
  h6 {
    font-size: 1.8rem;
  }
}

/* Font Sizes
 *----------------------------------*/
p,
li,
label {
  font-family: "Open Sans Light", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

nav li {
  font-size: 2.7rem;
}

.quote {
  font-size: 2.7rem;
  line-height: 4.05rem;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:active {
  color: inherit;
}
a:hover {
  color: #979797;
}

p a:visited {
  color: #FAA4A4;
}
p a:active {
  color: #FAA4A4;
}

/* Containers
 *----------------------------------*/
.container {
  margin: 0 auto;
  padding: 0 4rem;
  width: 100%;
  max-width: 1024px;
}
.container.width--narrow {
  max-width: 750px;
}
.container.width--wide {
  max-width: 1100px;
}
@media (max-width: 780px) {
  .container {
    padding: 0 2rem;
  }
}
@media (max-width: 780px) {
  .container {
    padding: 0 1.5rem;
  }
}

section.features {
  position: relative;
  padding: 7rem 0 5rem;
}
@media (min-width: 820px) {
  section.features h2.tilt {
    transform: translateX(-5rem) rotate(-30deg);
    max-width: 23rem;
  }
}
@media (min-width: 400px) {
  section.features .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 820px) {
  section.features .wrapper {
    padding-top: 3rem;
  }
}
section.features .features__item {
  margin-bottom: 1.2rem;
  max-width: 17rem;
}
@media (min-width: 400px) {
  section.features .features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 5rem;
    width: 30%;
    min-width: 15rem;
  }
}
@media (max-width: 400px) {
  section.features .features__item {
    display: flex;
    align-items: center;
  }
}
section.features .features__icon {
  width: 3rem;
  height: 3rem;
}
@media (max-width: 400px) {
  section.features .features__icon {
    margin-right: 2.4rem;
  }
}
section.features.specialties {
  background-color: #FADBA5;
}
section.features.knowledge {
  background-color: #FAA4A4;
}

section.projects {
  padding: 5rem 0;
}
section.projects > .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5rem 5rem;
}
section.projects h2 {
  width: 100%;
  margin-bottom: 3rem;
}
section.projects .projects__item {
  flex-grow: 1;
  width: 30%;
  min-width: 25rem;
}
section.projects .projects__item .projects__img {
  display: block;
  margin: 0 auto 3rem;
  max-width: 10rem;
  max-height: 10rem;
}
section.projects .projects__item .projects__title {
  text-align: center;
}
section.projects .projects__item p {
  margin: 0 auto;
  max-width: 50rem;
}

.contact {
  padding: 5rem 0;
  background-color: #88E1F2;
}
.contact .container {
  max-width: 60rem;
}
@media (min-width: 500px) {
  .contact form {
    display: flex;
    flex-wrap: wrap;
  }
}
.contact .form-group {
  margin-top: 2.4rem;
  width: 100%;
}
@media (min-width: 500px) {
  .contact .form-group.text, .contact .form-group.email {
    width: calc(50% - 2rem);
    margin-right: 2rem;
    max-width: 24rem;
  }
  .contact .form-group.email {
    margin-right: 0;
  }
  .contact .form-group.textarea {
    max-width: 50rem;
  }
  .contact .form-group.submit {
    max-width: 50rem;
  }
}
.contact label {
  display: block;
  margin-bottom: 0.6rem;
}
.contact input,
.contact textarea {
  font-family: "Open Sans Light", "Helvetica", sans-serif;
  font-weight: 400;
  border: 1px solid #707070;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  width: 100%;
}
.contact input {
  display: block;
  height: 3.6rem;
}
.contact textarea {
  display: block;
  height: 200px;
  padding: 0.6rem;
}
.contact button {
  background: none;
  border: none;
  transition: all 0.3s;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #707070;
  background-color: #98FF98;
  font-family: "Open Sans Light", "Helvetica", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  min-width: 16rem;
}
.contact button:hover, .contact button:focus {
  color: #000000;
  background-color: #80f880;
}

.contact p {
  margin-top: -1.2rem;
  margin-bottom: 2.4rem;
}

.site__header {
  background-color: #88E1F2;
  padding: 1.2rem 0;
}
.site__header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.site__header .header__logo {
  display: block;
  width: 100%;
  max-width: 4rem;
}
.site__header .header__menu-toggle {
  background: none;
  border: none;
  position: relative;
  width: 2.5rem;
  height: 2rem;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
.site__header .header__menu-toggle:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #000000;
}
@media (min-width: 800px) {
  .site__header .header__menu-toggle {
    display: none;
  }
}
.site__header .site__nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site__header .site__nav a {
  text-underline-offset: var(--offset, 0);
  text-decoration: underline 1px;
  text-decoration-color: transparent;
  transition: --offset 400ms, text-decoration-color 400ms, color 400ms;
  color: #000000;
}
.site__header .site__nav a:hover, .site__header .site__nav a:focus {
  --offset: 2px;
  color: #000000;
  text-decoration-color: #000000;
}
@supports not (background: paint(something)) {
  .site__header .site__nav a {
    text-decoration: underline;
    text-decoration: underline 1px;
    text-decoration-color: transparent;
    transition: text-underline-offset 400ms, text-decoration-color 400ms, color 400ms;
    color: #000000;
  }
  .site__header .site__nav a:hover, .site__header .site__nav a:focus {
    text-underline-offset: 0.15em;
    color: #000000;
  }
}
.site__header .site__nav button.close {
  background-color: transparent;
  border: none;
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  cursor: pointer;
}
.site__header .site__nav button.close:before, .site__header .site__nav button.close:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #000000;
  width: 80%;
  height: 2px;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.site__header .site__nav button.close:after {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
@media (min-width: 800px) {
  .site__header .site__nav button.close {
    display: none;
  }
}
@media (min-width: 800px) {
  .site__header .site__nav {
    width: 100%;
    max-width: 40rem;
  }
  .site__header .site__nav > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .site__header .site__nav {
    padding: 1.2rem 2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    transition: 0.3s ease-out;
    background-color: #FFFFFF;
    transform: translateX(100%);
    width: 100%;
    max-width: 30rem;
  }
  .site__header .site__nav button.close {
    margin-left: auto;
  }
  .site__header .site__nav.active {
    transform: translateX(0);
  }
  .site__header .site__nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .site__header .site__nav li {
    margin: 1.2rem 0 0;
    width: 100%;
  }
}

.js-keybaord {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.js-keybaord .js-keyboard__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}
.js-keybaord .js-keyboard__key {
  border-radius: 4px;
  border: 2px solid #000000;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  transition: 0.2s ease;
  font-weight: 700;
}
.js-keybaord .js-keyboard__key#back {
  width: 9.5rem;
}
.js-keybaord .js-keyboard__key#tab {
  width: 8.5rem;
}
.js-keybaord .js-keyboard__key#caps {
  width: 10.5rem;
}
.js-keybaord .js-keyboard__key#enter {
  width: 12rem;
}
.js-keybaord .js-keyboard__key#left-shift, .js-keybaord .js-keyboard__key#right-shift {
  width: 13.5rem;
}
.js-keybaord .js-keyboard__key.active {
  animation: shake 0.15s ease infinite;
}
.js-keybaord .js-keyboard__key.angry {
  animation: shake 0.075s ease infinite;
  border-color: red;
  color: red;
}
@media (max-width: 700px) {
  .js-keybaord .js-keyboard__key.mobile {
    display: none;
  }
}

@keyframes shake {
  20% {
    transform: translateX(5%);
  }
  40% {
    transform: translateY(-5%);
  }
}
.page__header {
  padding: 4rem 0 6rem;
}

/*# sourceMappingURL=styles.css.map */
