.site__header {
    background-color: $blue;
    padding: 1.2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .header__logo {
        display: block;
        width: 100%;
        max-width: 4rem;
    }

    .header__menu-toggle {
        @include button--hamburger(2.5rem, 2rem, 2px, $black);
        @include min-bp(menu-break) { display: none; }

    }


    .site__nav {
        //--- Universal
        ul {
            @include reset-ul;
        }

        a {
            @include link-hover--drop($black, $black, 1px); 
        }

        button.close {
            @include button--close($black, 2px, 3rem);
            @include min-bp(menu-break) { display: none; }
        }


        //--- Desktop
        @include min-bp(menu-break) {
            width: 100%;
            max-width: 40rem;

            > ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }


        //--- Mobile
        @include bp(menu-break) {
            padding: 1.2rem 2rem;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 100;
            transition: .3s ease-out;
            background-color: $white;
            transform: translateX(100%);
            width: 100%;
            max-width: 30rem;

            button.close {
                margin-left: auto;
            }


            &.active {
                transform: translateX(0);
            }

            ul {
                @include reset-ul;
                display: flex;
                flex-direction: column;
            }

            li {
                margin: 1.2rem 0 0;
                width: 100%;
            }
        }
    }
}