footer {
	padding: 5rem 0;
	background-color: $blue;

    .contact {
    	max-width: 60rem;

    	form {
    		@include min-bp(500) {
    			display: flex;
    			flex-wrap: wrap;
    		}
    	}
    	.form-group {
	        margin-top: 2.4rem;
	        width: 100%;

	        @include min-bp(500) {
	        	&.text,
	        	&.email {
	        		width: calc(50% - 2rem);
	        		margin-right: 2rem;
	        		max-width: 24rem;
	        	}

	        	&.email {
	        		margin-right: 0;
	        	}

	        	&.textarea {
	        		max-width: 50rem;
	        	}

	        	&.submit {
	        		max-width: 50rem;
	        	}
	        }
    	}

	    label {
	    	display: block;
	        margin-bottom: 0.6rem;
	    }

	    input,
	    textarea {
	        @include ff-open-sans-light;
	        border: 1px solid $text-gray;
	        padding-left: 0.6rem;
	        padding-right: 0.6rem;
	        width: 100%;

	    }

	    input {
	    	display: block;
	        height: 3.6rem;
	    }

	    textarea {
	    	display: block;
	        height: 200px;
	        padding: 0.6rem;
	    }

	    button {
	    	@include button($text-gray, #98FF98, darken(#98F998, 5));
	    	@include ff-open-sans-light;
	    	border-radius: 5px;
	    	min-width: 16rem;
	    }
    }
}

.contact {
    p {
        margin-top: -1.2rem;
        margin-bottom: 2.4rem;
    }





}