section.features {
    position: relative;
    padding: 7rem 0 5rem;

    h2.tilt {
        @include min-bp(820) {
            transform: translateX(-5rem) rotate(-30deg);
            max-width: 23rem;
        }
    }

    .wrapper {

        @include min-bp(400) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include bp(820) {
            padding-top: 3rem;
        }
    }

    .features__item {
        margin-bottom: 1.2rem;
        max-width: 17rem;

        @include min-bp(400) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            margin-bottom: 5rem;
            width: 30%;
            min-width: 15rem;
        }

        @include bp(400) {
            display: flex;
            align-items: center;
        }
    }

    .features__icon {
        width: 3rem;
        height: 3rem;

        @include bp(400) {
            margin-right: 2.4rem;
        }
    }

    &.specialties {
        background-color: $yellow;
    }

    &.knowledge {
        background-color: $pink;
    }
}

section.projects {
    padding: 5rem 0;

    > .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5rem 5rem;
    }

    h2 {
        width: 100%;
        margin-bottom: 3rem;
    }

    .projects__item {
        flex-grow: 1;
        width: 30%;
        min-width: 25rem;

        .projects__img {
            display: block;
            margin: 0 auto 3rem;
            max-width: 10rem;
            max-height: 10rem;
        }

        .projects__title {
            text-align: center;
        }

        p {
            margin: 0 auto;
            max-width: 50rem;
        }
    }
}