.featured {
    position: relative;
    font-size: 3rem;
    line-height: 2.8rem;

    @include min-bp(small) {
        p {
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }

    &.specialize {
        padding-top: 7.2rem;
        background-color: $primary-yellow;

        @include min-bp(small) {
            ul {
                padding: 7.2rem 0 0 10rem;
            }
        }
    }

    &.knowledge {
        background-color: $primary-pink;

        @include min-bp(small) {
            ul {
                padding: 12.2rem 0 0 10rem;
            }

            li {
                margin-bottom: 3.6rem;
            }
        }
    }

    h2 {
        @include min-bp(small) {
            position: absolute;
            transform: rotate(-30deg);
            max-width: 230px;
        }
    }

    ul {
        padding: 0 0 0 2.4rem;

        @include min-bp(small) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 575px;
        }
    }

    li {
        display: flex;
        margin-bottom: 1.2rem;

        @include min-bp(small) {
            width: 30%;
            flex-direction: column;
            align-items: center;
        }
    }

    img {
        margin-right: 2.4rem;
        width: 3rem;
        height: 3rem;

        @include min-bp(small) {
            margin-right: 0;
        }
    }
}

.projects {
  @include min-bp(small) {
    .large-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  h2 {
    margin-bottom: 3.6rem;
    width: 100%;
  }
  h3 {
    text-align: center;
  }
  img {
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
  }
  .project {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.8rem;
    width: 100%;
    img {
      margin-bottom: 2.4rem;
    }
    @include min-bp(small) {
      width: 48%;
    }
    @media (min-width: 1100px) {
      width: 31%;
    }
  }
  li {
    margin-left: 1.2rem;
  }
}