.featured {
  position: relative;
  &.specialize {
    padding-top: 7.2rem;
    background-color: $primary-yellow;
    @include min-bp(small) {
      ul {
        padding: 7.2rem 0 0 10rem;
      }
    }
  }
  &.knowledge {
    background-color: $primary-pink;
    @include min-bp(small) {
      ul {
        padding: 12.2rem 0 0 10rem;
      }
      li {
        margin-bottom: 3.6rem;
      }
    }
  }
  h2 {
    @include min-bp(small) {
      position: absolute;
      transform: rotate(-30deg);
      max-width: 230px;
    }
  }
  ul {
    padding: 0 0 0 2.4rem;
    @include min-bp(small) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 575px;
    }
  }
  li {
    display: flex;
    margin-bottom: 1.2rem;
    @include min-bp(small) {
      width: 30%;
      flex-direction: column;
      align-items: center;
    }
  }
  img {
    margin-right: 2.4rem;
    width: 3rem;
    height: 3rem;
    @include min-bp(small) {
      margin-right: 0;
    }
  }
}